body {
    & > div {
        margin: 25px 32px 25px 32px;
        background-color: white;
        border-radius: 5px;
        border-top: 5px solid white;
        height: 220px;
        width: 310px;

        position: relative;

        & > h3 {
            margin-top: 30px;
            margin-left: 20px;
            color: $veryDarkBlue;
        }

        & > span {
            margin-left: 20px;
            color: $grayishBlue;
            display: block;
            font-size: .8rem;
        }

        & > img {
            position:absolute;
            right: 10%;
            bottom: 10%;
        }
    }
}

.shadow {
    box-shadow: 5px 10px 10px -10px $grayishBlue, -5px 10px 20px -10px $grayishBlue;
}

.border-cyan {
    border-color: $cyan;
}

.border-red {
    border-color: $red;
}

.border-orange {
    border-color: $orange;
}

.border-blue {
    border-color: $blue;
}

#supervisor {
    grid-area: supervisor;
    @media screen and (min-width: $startOversize) {
        justify-self: end;
    }
}

#team-builder {
    grid-area: team-builder;
}

#karma { 
    grid-area: karma;
}

#calculator {
    grid-area: calculator;
    @media screen and (min-width: $startOversize) {
        justify-self: start;
    }
}
