html {
    font-family: 'Poppins', sans-serif;
    width: 100%;
}

body {
    font-size: 15px;
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;

    background-color: $veryLightGray;

    display: flex;
    flex-direction: column;
}

.no-border {
    border: none;
}

.grey-med {
    color: $grayishBlue;
}

*, *::after, *::before {
    box-sizing: inherit;
}

.attribution {
    font-size: 11px;
    text-align: center;
}
.attribution a {
    color: hsl(228, 45%, 44%);
}
